<div class="container" style="width:70%">
  <div>
    <h2><%= @list.name %></h2>
    <% @list.movies.each do |movie| %>
      <p>
        <h4>Title: <%= movie.title %></h4>
        <p><strong>Overview: </strong><%= movie.overview  %></p>
        <p><strong>Rating: </strong><%= movie.rating  %> </p>
        <%= image_tag "#{movie.poster_url}" , width: 300 %>
        <%= link_to 'Remove from listðŸ‘‹ðŸ»',  bookmark_path(@list.bookmarks.find_by_movie_id(movie)), data: { turbo_method: :delete, turbo_confirm: "sure?" }, class: "btn btn-primary" %>
      </p>
    <% end %>
  </div>
  <div style="text-align:center">
    <%= link_to 'Back to list', lists_path, class: "btn btn-success" %>
    <%= link_to '+ New bookmark', new_list_bookmark_path(@list), class: "btn btn-primary" %>
  </div>
</div>
